@* <header id="header">
    <form method="get" asp-controller="" asp-action="" novalidate>
        <p></p>
        <input type="search" class="form-search-input" placeholder="🔍 Search anything..." />
    </form>
 
    @await Html.PartialAsync("Dropdowns/_NotificationDropdownPartial")
    @await Html.PartialAsync("Dropdowns/_AccountDropdownPartial")
    

</header>  *@