<!--LAYOUT-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    
    <div class="layout">
        <aside class="sidebar">
            <div class="logo">alpha</div>
            <nav>
                <a asp-controller="Projects" asp-action="Index">Projects</a>
            </nav>
        </aside>

        <div class="main-content">
            <partial name="Partials/Sections/_Header" />
           
            <main>
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/projects.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
