<aside class="sidebar">
    <div class="logotype">
        <img src="/images/Full.png" alt="Alpha" />
    </div>
    <nav>
        <a class="sidebar-link" asp-controller="Projects" asp-action="Index">Projects</a>

    </nav>
</aside>
